.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image:url('../public/img/minimal-stars-motion-loop-background-for-project-overlay-free-video.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
